body {
    background-image: url(../images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

a {
    display: inline;
}

nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    color: crimson;
    font-size: 30px;
}

.imgs:hover {
    opacity: 0.5;
    color: white;
}
.imgs {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

footer{
    padding: 1.25rem;
    text-align: center;
    z-index: 1;
    box-shadow: 0 3px 5 px rgba(0, 0, 0.1);
    
}

li {
    display: flex;
    flex-direction: row;
    margin: auto;
}

h2 {
    color: cornflowerblue;
    font-size: 35px;
}

div {
    display: block;
    margin: auto;
}

h3 {
    color: cornflowerblue;
    font-size: 30x;

}

.footer .images {
    margin: auto;
    width: 50px;
    size: 50px;
}
